body{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color:rgb(22, 193, 193);
    background-size: cover;
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
  margin-bottom: 30px;
  text-align: center;
}